# Database
DATABASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Google Gemini
GOOGLE_GENERATIVE_AI_API_KEY=""

# openai
OPENAI_API_KEY=""

# anthropic
ANTHROPIC_API_KEY=""

# sentry
SENTRY_AUTH_TOKEN=""

# polar
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""

# other
NEXT_PUBLIC_APP_URL=""
NGROK_URL=""

# encryption
ENCRYPTION_KEY=""

